
.input-search{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-search>input{
    outline: none;
    padding: 10px;
    height: 44px;
    width: 500px;
    font-size: 1.2rem;
}
.icon{
    height: 40px;
    width: 100px;
    color: white;
    background-color: #0d1838;
}
.input-search>input[type=submit]{
    width: 120px;
    cursor: pointer;
    background-color: #0d1838;
    color: white;
    border: none;
}
.input-search>input[type=submit]:hover{
    background-color: #16285f;
    transition: 300ms;
}